html, body { margin: 0; padding: 0;}

* {
    box-sizing: border-box;
}

a {text-decoration: none; color: black;}

body {display: grid; grid-template-rows: 100px 1fr 100px ; min-height: 100vh;}

header {background-color: #1abc9c; font-weight: 900; font-size: 50px; display: flex; align-items: center;}

section {
    scroll-behavior: auto;
    display: grid; grid-template-columns: 1fr 5fr;
}

.menu {
    padding: 10px;
    background-color: rgba(11, 94, 219, 0.774);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.menu > div { margin: 5px;}
    

.mainPage {background-color: rgba(255, 156, 121, 0.89);}

.mainPage {display: grid; grid-template-columns: 4fr 1fr;}

.mainPage > .sub1 {background-color: rgb(255, 91, 91);}

.mainPage > .sub {display: grid; grid-template-rows: 1fr 1fr;}

.mainPage > .sub > .sub1 {background-color: rgb(255, 91, 91);}

.mainPage > .sub > .sub2 {background-color: rgb(168, 2, 168);}

footer { background-color: #1abc9c; color: #fff;}